div{
    font-size: 12px;
    font-weight: bold;
    font-style:italic;
    /*斜体*/
    height: 20px;
    text-align: left;
    /*对齐方式：左中右 */
    line-height:20px;
    /*单行文本高度*/
    /*求1.2倍行高 line-height：1.2em;*/
    text-indent:2em;
    /*首行缩进*/
    opacity: 0%;
            /*透明度，百分比*/
}