*{
    margin: 0;
    padding: 0;}


/*.content1{*/
    /*width: 200px;*/
    /*height: 100px;*/
    /*background-color: #ffcccc;*/
    /*float:left;*/
/*}*/
/*.content3{*/
    /*width: 200px;*/
    /*height: 100px;*/
    /*background-color: #00ffff;*/
    /*float:right;*/
/*}*/
/*.content2{*/
    /*height: 100px;*/
    /*background-color: #112233;*/

/*}*/
/*.content2::after{*/
    /*content: '';*/
    /*display: block;*/
    /*clear:both;*/
/*}*/
ul{
    display:flex;
    height: 200px;
    background-color: #112233;
    list-style: none;
    justify-content: center;
    align-items: center;
}
ul li{
    width: 100px;
    background-color: #ffcccc;
    text-align: center;
}