*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 40px;
    width: auto;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
}
.nav-left{
    float: left;
    margin: auto auto 100px;
}
.nav-right{
    float: right;
}


ul {
    list-style: none;

}
li a {
    text-decoration: none;
    font-size: 12px;
}

.nav-left ul li {
    float: left;
    padding:5px;}


.nav-right ul li {
    float: right;
    padding:5px;

}
ul  li a, ul li a{
    color: #6c6c6c;
}

.nav-left-second a {
    color: #f40;
}
